.header {
    
}

.header__bg {
    // background-image: url('../img/icons/bg-day.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__user {
    cursor: pointer;
}

.header__btn {
    width: 35px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    
}

.btn__icon {
    display: flex;
    position: relative;
    background-color: #fff;
    width: 35px;
    height: 2px;

    &::after,
    &::before {
        content: '';
        position: absolute;
        background-color: #fff;
        width: 35px;
        height: 2px;
    }

    &::after {
        top: 8px;
    }

    &::before {
        bottom: 8px;
    }
}